<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 col-md-8">
                <div>
                    <a class="navbar-brand" href="#/">Кафедрон</a>
                </div>
                <div>
                    <!-- Вынести логику navbar в отдельный контроллер -->
                    <ul class="nav navbar-nav">
                        <li ng-class="{active: isActive('/files')}"><a href="#files">Файлы</a>
                        </li>
                        <li ng-class="{active: isActive('/users')}"><a href="#users">Пользователи</a>
                        </li>
                        <!--<li ui-sref-active="active"><a href="#groups">Группы</a>
                        </li>-->
                    </ul>
                    
                </div>
                
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="navbar-collapse">
                    <div class="navbar-form navbar-right text-right">

                        <div class="btn-group" ng-if="currentUser">
                            <a href="" class="btn btn-username btn-sm dropdown-toggle" id="more" data-toggle="dropdown" aria-expanded="true">
                                {{currentUser.username}} <i class="glyphicon glyphicon-chevron-down"></i>
                            </a>

                            <ul class="dropdown-menu scrollable-menu animated fast fadeIn pull-right" role="menu" aria-labelledby="more">
                                <li role="presentation" ng-show="config.allowedActions.createFolder">
                                    <a href="" role="menuitem" tabindex="-1">
                                        <i class="glyphicon glyphicon-user"></i> Профиль
                                    </a>
                                </li>
                                <li role="presentation" ng-show="config.allowedActions.upload">
                                    <a href="" role="menuitem" tabindex="-1" ng-click="logout()">
                                        <i class="glyphicon glyphicon-log-out"></i> Выйти
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
