.breadcrumbs {
    background-color: grey;
}

.btn.btn-username {
    color: #fff;
    box-shadow: none;
}

.btn-group.open .btn.btn-username {
    box-shadow: none;
}

/*.navbar-nav>li>a {
    line-height: 100%;
}*/

.navbar-form {
    margin-top: 0px;
}

.login{
    background: url('../images/robots.jpg') repeat;
    background-size: 600px;
}

.login-form {
    background: #fff;
    padding: 2em;
    margin: 0 auto;
    max-width: 300px;
    min-width: 240px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px 5px rgba(0,0,0,0.6);
    }

.login-form h2{
    margin-top: 0;
    margin-bottom: 1em;    
}

@media all and (max-width: 480px) {
    .login-form {
        width: 100%;
        min-width: 100px;
    }
}